In [22]:
def parse_file(datafile):
    index = 0
    data = []
    header = []
    with open(datafile, "rb") as f:
        for line in f:
            if index == 11:
                break
            line_data = line.split(',')
            line_dict = {}
            if index == 0:
                header = [field.strip() for field in line_data]
            else:
                for i, value in enumerate(line_data):
                    line_dict[header[i]] = value.strip()
                data.append(line_dict)
            index += 1
    return data

In [23]:
data = parse_file('beatles-diskography.csv')
print data[0]
print data[9]
print len(data)

{'Title': 'Please Please Me', 'UK Chart Position': '1', 'Label': 'Parlophone(UK)', 'Released': '22-Mar-63', 'US Chart Position': '-', 'RIAA Certification': 'Platinum', 'BPI Certification': 'Gold'}
{'Title': '', 'UK Chart Position': '1', 'Label': 'Parlophone(UK)', 'Released': '10-Jul-64', 'US Chart Position': '-', 'RIAA Certification': '', 'BPI Certification': 'Gold'}
10

In [28]:
import csv
import pprint

In [25]:
def parse_csv(datafile):
    data = []
    n = 0
    with open(datafile, 'rb') as sd:
        r = csv.DictReader(sd)
        for line in r:
            data.append(line)
    return data

In [27]:
songs = parse_csv('beatles-diskography.csv')

In [29]:
import xlrd

In [31]:
def parse_xls(datafile):
    workbook = xlrd.open_workbook(datafile)
    sheet = workbook.sheet_by_index(0)

    data = [[sheet.cell_value(r, col) 
                for col in range(sheet.ncols)] 
                    for r in range(sheet.nrows)]

    print "\nList Comprehension"
    print "data[3][2]:",
    print data[3][2]

    print "\nCells in a nested loop:"    
    for row in range(sheet.nrows):
        for col in range(sheet.ncols):
            if row == 50:
                print sheet.cell_value(row, col),


    ### other useful methods:
    print "\nROWS, COLUMNS, and CELLS:"
    print "Number of rows in the sheet:", 
    print sheet.nrows
    print "Type of data in cell (row 3, col 2):", 
    print sheet.cell_type(3, 2)
    print "Value in cell (row 3, col 2):", 
    print sheet.cell_value(3, 2)
    print "Get a slice of values in column 3, from rows 1-3:"
    print sheet.col_values(3, start_rowx=1, end_rowx=4) #not including row 4

    print "\nDATES:"
    print "Type of data in cell (row 1, col 0):", 
    print sheet.cell_type(1, 0)
    exceltime = sheet.cell_value(1, 0)
    print "Time in Excel format:",
    print exceltime
    print "Convert time to a Python datetime tuple, from the Excel float:",
    print xlrd.xldate_as_tuple(exceltime, 0)

    return data

In [32]:
ercot = parse_xls('2013_ERCOT_Hourly_Load_Data.xls')

List Comprehension
data[3][2]: 1036.088697

Cells in a nested loop:
41277.0833333 9238.73731 1438.20528 1565.442856 916.708348 14010.903488 3027.98334 6165.211119 1157.741663 37520.933404
ROWS, COLUMNS, and CELLS:
Number of rows in the sheet: 7296
Type of data in cell (row 3, col 2): 2
Value in cell (row 3, col 2): 1036.088697
Get a slice of values in column 3, from rows 1-3:
[1411.7505669999982, 1403.4722870000019, 1395.053150000001]

DATES:
Type of data in cell (row 1, col 0): 3
Time in Excel format: 41275.0416667
Convert time to a Python datetime tuple, from the Excel float: (2013, 1, 1, 1, 0, 0)

In [35]:
"""
Your task is as follows:
- read the provided Excel file
- find and return the min, max and average values for the COAST region
- find and return the time value for the min and max entries
- the time values should be returned as Python tuples

Please see the test function for the expected return format
"""

'\nYour task is as follows:\n- read the provided Excel file\n- find and return the min, max and average values for the COAST region\n- find and return the time value for the min and max entries\n- the time values should be returned as Python tuples\n\nPlease see the test function for the expected return format\n'

In [49]:
def parse_ercot(datafile):
    workbook = xlrd.open_workbook(datafile)
    sheet = workbook.sheet_by_index(0)
    data = {
            'maxtime': (0, 0, 0, 0, 0, 0),
            'maxvalue': 0,
            'mintime': (0, 0, 0, 0, 0, 0),
            'minvalue': 0,
            'avgcoast': 0
    }
    coast_data = [float(sheet.cell_value(r, 1)) for r in range(1, sheet.nrows)] #coast data is in 2nd row
    data['maxvalue'] = max(coast_data)
    data['minvalue'] = min(coast_data)
    data['avgcoast'] = sum(coast_data)/float(len(coast_data))
    max_row = coast_data.index(max(coast_data)) + 1 #add one as first one in excel sheet is header row
    min_row = coast_data.index(min(coast_data)) + 1
    data['maxtime'] = xlrd.xldate_as_tuple(sheet.cell_value(max_row, 0), 0)
    data['mintime'] = xlrd.xldate_as_tuple(sheet.cell_value(min_row, 0), 0)
    return data

In [52]:
coast = parse_ercot('2013_ERCOT_Hourly_Load_Data.xls')
pprint.pprint(coast)

{'avgcoast': 10976.933460679751,
 'maxtime': (2013, 8, 13, 17, 0, 0),
 'maxvalue': 18779.025510000003,
 'mintime': (2013, 2, 3, 4, 0, 0),
 'minvalue': 6602.113898999982}

In [53]:
import requests
import json

In [54]:
BASE_URL = "http://musicbrainz.org/ws/2/"
ARTIST_URL = BASE_URL + "artist/"

query_type = {  "simple": {},
                "atr": {"inc": "aliases+tags+ratings"},
                "aliases": {"inc": "aliases"},
                "releases": {"inc": "releases"}}

In [55]:
def query_site(url, params, uid="", fmt="json"):
    params["fmt"] = fmt
    r = requests.get(url + uid, params=params)
    print "requesting", r.url

    if r.status_code == requests.codes.ok:
        return r.json()
    else:
        r.raise_for_status()


def query_by_name(url, params, name):
    params["query"] = "artist:" + name
    return query_site(url, params)

In [56]:
def pretty_print(data, indent=4):
    if type(data) == dict:
        print json.dumps(data, indent=indent, sort_keys=True)
    else:
        print data

In [57]:
def brainz(name):
    results = query_by_name(ARTIST_URL, query_type["simple"], name)
    pretty_print(results)

    artist_id = results["artists"][1]["id"]
    print "\nARTIST:"
    pretty_print(results["artists"][1])

    artist_data = query_site(ARTIST_URL, query_type["releases"], artist_id)
    releases = artist_data["releases"]
    print "\nONE RELEASE:"
    pretty_print(releases[0], indent=2)
    release_titles = [r["title"] for r in releases]

    print "\nALL TITLES:"
    for t in release_titles:
        print t

In [69]:
def query(name):
    results = query_by_name(ARTIST_URL, query_type["simple"], name)
    #artist_id = results["artists"][1]["id"]
    return results

In [81]:
first = query("First Aid Kit")["artists"]
names = [band['name'] for band in first]
fak = [name for name in names if name=="First Aid Kit"]
fak

requesting http://musicbrainz.org/ws/2/artist/?query=artist%3AFirst+Aid+Kit&fmt=json

[u'First Aid Kit', u'First Aid Kit']

In [70]:
queen = query("Queen")
pretty_print(queen)

requesting http://musicbrainz.org/ws/2/artist/?query=artist%3AQueen&fmt=json
{
    "artists": [
        {
            "aliases": [
                {
                    "begin-date": "2011",
                    "end-date": null,
                    "locale": null,
                    "name": "Queen + Adam Lambert",
                    "primary": null,
                    "sort-name": "Queen + Adam Lambert",
                    "type": null
                }
            ],
            "area": {
                "id": "8a754a16-0027-3a29-b6d7-2b40ea0481ed",
                "name": "United Kingdom",
                "sort-name": "United Kingdom"
            },
            "begin-area": {
                "id": "f03d09b3-39dc-4083-afd6-159e3f0d462f",
                "name": "London",
                "sort-name": "London"
            },
            "country": "GB",
            "disambiguation": "UK rock group",
            "id": "0383dadf-2a4e-4d10-a46a-e9e041da8eb3",
            "life-span": {
                "begin": "1970-06-27",
                "ended": null
            },
            "name": "Queen",
            "score": "100",
            "sort-name": "Queen",
            "tags": [
                {
                    "count": 3,
                    "name": "hard rock"
                },
                {
                    "count": -2,
                    "name": "70s"
                },
                {
                    "count": 0,
                    "name": "queen family"
                },
                {
                    "count": -2,
                    "name": "80s"
                },
                {
                    "count": 3,
                    "name": "british"
                },
                {
                    "count": 0,
                    "name": "english"
                },
                {
                    "count": 0,
                    "name": "uk"
                },
                {
                    "count": 0,
                    "name": "pop/rock"
                },
                {
                    "count": 0,
                    "name": "pop-rock"
                },
                {
                    "count": 0,
                    "name": "britannique"
                },
                {
                    "count": -1,
                    "name": "classic pop and rock"
                },
                {
                    "count": -1,
                    "name": "queen"
                },
                {
                    "count": 0,
                    "name": "united kingdom"
                },
                {
                    "count": 0,
                    "name": "kind of magic"
                },
                {
                    "count": -1,
                    "name": "platinum"
                },
                {
                    "count": 8,
                    "name": "rock"
                },
                {
                    "count": 0,
                    "name": "langham 1 studio bbc"
                },
                {
                    "count": 0,
                    "name": "band"
                },
                {
                    "count": 0,
                    "name": "progressive rock"
                },
                {
                    "count": 1,
                    "name": "pop rock"
                },
                {
                    "count": 1,
                    "name": "glam rock"
                },
                {
                    "count": 2,
                    "name": "art rock"
                },
                {
                    "count": 0,
                    "name": "disco"
                },
                {
                    "count": 0,
                    "name": "80's"
                },
                {
                    "count": 0,
                    "name": "70's"
                },
                {
                    "count": 0,
                    "name": "90's"
                },
                {
                    "count": -2,
                    "name": "90s"
                }
            ],
            "type": "Group"
        },
        {
            "aliases": [
                {
                    "begin-date": null,
                    "end-date": null,
                    "locale": null,
                    "name": "Queen",
                    "primary": null,
                    "sort-name": "Queen",
                    "type": null
                }
            ],
            "area": {
                "id": "2db42837-c832-3c27-b4a3-08198f75693c",
                "name": "Japan",
                "sort-name": "Japan"
            },
            "country": "JP",
            "disambiguation": "\u677f\u91ce\u53cb\u7f8e",
            "gender": "female",
            "id": "420ca290-76c5-41af-999e-564d7c71f1a7",
            "life-span": {
                "ended": null
            },
            "name": "Queen",
            "score": "100",
            "sort-name": "Queen",
            "tags": [
                {
                    "count": 1,
                    "name": "related-akb48"
                },
                {
                    "count": 1,
                    "name": "kamen rider w"
                }
            ],
            "type": "Character"
        },
        {
            "disambiguation": "US rapper",
            "id": "5eecaf18-02ec-47af-a4f2-7831db373419",
            "life-span": {
                "ended": null
            },
            "name": "Queen",
            "score": "100",
            "sort-name": "Queen"
        },
        {
            "area": {
                "id": "489ce91b-6658-3307-9877-795b68554c98",
                "name": "United States",
                "sort-name": "United States"
            },
            "country": "US",
            "gender": "female",
            "id": "b50415aa-637c-4631-b074-7debcdb36da9",
            "life-span": {
                "begin": "1929-01-15",
                "ended": null
            },
            "name": "Queen Ida",
            "score": "62",
            "sort-name": "Queen Ida",
            "type": "Person"
        },
        {
            "area": {
                "id": "8a754a16-0027-3a29-b6d7-2b40ea0481ed",
                "name": "United Kingdom",
                "sort-name": "United Kingdom"
            },
            "country": "GB",
            "id": "c7d8e75d-ce47-473e-a434-e46b316e4e2f",
            "life-span": {
                "begin": "1992",
                "end": "1995",
                "ended": true
            },
            "name": "Bandit Queen",
            "score": "62",
            "sort-name": "Bandit Queen",
            "type": "Group"
        },
        {
            "aliases": [
                {
                    "begin-date": null,
                    "end-date": null,
                    "locale": null,
                    "name": "Dana Owens",
                    "primary": null,
                    "sort-name": "Dana Owens",
                    "type": null
                },
                {
                    "begin-date": null,
                    "end-date": null,
                    "locale": null,
                    "name": "Queen Latifa",
                    "primary": null,
                    "sort-name": "Queen Latifa",
                    "type": null
                }
            ],
            "area": {
                "id": "5a2f83bb-e033-4d4b-9fea-9ca6f27cf751",
                "name": "Colts Neck Township",
                "sort-name": "Colts Neck Township"
            },
            "begin-area": {
                "id": "85c7cd5f-6fe2-4195-a44d-69fa390bd6ec",
                "name": "Newark",
                "sort-name": "Newark"
            },
            "gender": "female",
            "id": "7a305f29-539a-456e-93b7-61b0e2ba3ef2",
            "life-span": {
                "begin": "1970-03-18",
                "ended": null
            },
            "name": "Queen Latifah",
            "score": "62",
            "sort-name": "Queen Latifah",
            "tags": [
                {
                    "count": 1,
                    "name": "hip hop"
                }
            ],
            "type": "Person"
        },
        {
            "gender": "female",
            "id": "c6303af1-d66e-4e8a-930e-fe1d6ea5b781",
            "life-span": {
                "ended": null
            },
            "name": "Queen Majeeda",
            "score": "62",
            "sort-name": "Queen Majeeda",
            "type": "Person"
        },
        {
            "aliases": [
                {
                    "begin-date": null,
                    "end-date": null,
                    "locale": null,
                    "name": "Acic Queen",
                    "primary": null,
                    "sort-name": "Acic Queen",
                    "type": null
                }
            ],
            "id": "8a03436b-2120-4d04-9f3b-9e18753ba8b7",
            "life-span": {
                "ended": null
            },
            "name": "Acid Queen",
            "score": "62",
            "sort-name": "Acid Queen",
            "type": "Group"
        },
        {
            "area": {
                "id": "85752fda-13c4-31a3-bee5-0e5cb1f51dad",
                "name": "Germany",
                "sort-name": "Germany"
            },
            "country": "DE",
            "disambiguation": "German duo Ina M\u00fcller & Edda Schnittgard",
            "id": "fd31549e-6a5f-4ff8-94fa-5a68638952fc",
            "life-span": {
                "begin": "1994",
                "end": "2005",
                "ended": true
            },
            "name": "Queen Bee",
            "score": "62",
            "sort-name": "Queen Bee",
            "type": "Group"
        },
        {
            "id": "8d25fda6-e74e-45ac-9695-7e3e6a7d0fac",
            "life-span": {
                "ended": null
            },
            "name": "B.B. Queen",
            "score": "62",
            "sort-name": "B.B. Queen"
        },
        {
            "area": {
                "id": "08310658-51eb-3801-80de-5a0739207115",
                "name": "France",
                "sort-name": "France"
            },
            "country": "FR",
            "id": "ea57c459-a6dd-40ea-b489-03b7a912be13",
            "life-span": {
                "ended": null
            },
            "name": "Sister Queen",
            "score": "62",
            "sort-name": "Sister Queen",
            "type": "Group"
        },
        {
            "id": "b9de990e-2ece-42dd-827c-30c4ca4a99a4",
            "life-span": {
                "ended": null
            },
            "name": "Queen V",
            "score": "62",
            "sort-name": "Queen V"
        },
        {
            "aliases": [
                {
                    "begin-date": null,
                    "end-date": null,
                    "locale": null,
                    "name": "Queen Elisabeth",
                    "primary": null,
                    "sort-name": "Queen Elisabeth",
                    "type": null
                }
            ],
            "area": {
                "id": "8a754a16-0027-3a29-b6d7-2b40ea0481ed",
                "name": "United Kingdom",
                "sort-name": "United Kingdom"
            },
            "country": "GB",
            "disambiguation": "British band with Julian Cope",
            "id": "1e067199-f4cd-477b-9a87-7170e7ed4cf7",
            "life-span": {
                "ended": null
            },
            "name": "Queen Elizabeth",
            "score": "62",
            "sort-name": "Queen Elizabeth",
            "type": "Group"
        },
        {
            "area": {
                "id": "8a754a16-0027-3a29-b6d7-2b40ea0481ed",
                "name": "United Kingdom",
                "sort-name": "United Kingdom"
            },
            "country": "GB",
            "gender": "female",
            "id": "9a86679d-7661-4633-b1b0-76a69922458c",
            "life-span": {
                "ended": null
            },
            "name": "Monica Queen",
            "score": "62",
            "sort-name": "Queen, Monica",
            "tags": [
                {
                    "count": 1,
                    "name": "country"
                }
            ],
            "type": "Person"
        },
        {
            "id": "f45984aa-f1ca-41d8-898a-af07340ae244",
            "life-span": {
                "ended": null
            },
            "name": "Pearly Queen",
            "score": "62",
            "sort-name": "Pearly Queen",
            "tags": [
                {
                    "count": 1,
                    "name": "funk"
                },
                {
                    "count": 1,
                    "name": "rhythm and blues"
                },
                {
                    "count": 1,
                    "name": "latin"
                },
                {
                    "count": 1,
                    "name": "latin funk"
                }
            ],
            "type": "Group"
        },
        {
            "id": "b46cb0af-039b-4966-9c3e-43a29823778e",
            "life-span": {
                "ended": null
            },
            "name": "Jenny Queen",
            "score": "62",
            "sort-name": "Queen, Jenny",
            "type": "Person"
        },
        {
            "area": {
                "id": "08310658-51eb-3801-80de-5a0739207115",
                "name": "France",
                "sort-name": "France"
            },
            "country": "FR",
            "id": "ee2d368e-3580-46d3-9de7-84110254b6c0",
            "life-span": {
                "begin": "1977",
                "ended": null
            },
            "name": "Queen Samantha",
            "score": "62",
            "sort-name": "Queen Samantha",
            "type": "Group"
        },
        {
            "id": "8cf67014-18cc-4a62-941a-ced82412672a",
            "life-span": {
                "ended": null
            },
            "name": "Queen Paula",
            "score": "62",
            "sort-name": "Queen Paula"
        },
        {
            "id": "eceb4f3d-95d9-4566-9fe2-a307fbcc3a4b",
            "life-span": {
                "ended": null
            },
            "name": "Black Queen",
            "score": "62",
            "sort-name": "Black Queen"
        },
        {
            "area": {
                "id": "3906cf32-00a7-32df-93cc-4710c5f5a542",
                "name": "Puerto Rico",
                "sort-name": "Puerto Rico"
            },
            "country": "PR",
            "gender": "female",
            "id": "ff06ecc0-72a5-4a81-a253-d840d9aefb32",
            "life-span": {
                "ended": null
            },
            "name": "Ivy Queen",
            "score": "62",
            "sort-name": "Ivy Queen",
            "tags": [
                {
                    "count": 1,
                    "name": "reggaet\u00f3n"
                }
            ],
            "type": "Person"
        },
        {
            "area": {
                "id": "489ce91b-6658-3307-9877-795b68554c98",
                "name": "United States",
                "sort-name": "United States"
            },
            "begin-area": {
                "id": "a71b0d32-7752-49e9-8594-2247ad6ac12c",
                "name": "Brooklyn",
                "sort-name": "Brooklyn"
            },
            "country": "US",
            "gender": "female",
            "id": "e6476e4f-ad4c-4e29-bd20-0cd622ffe441",
            "life-span": {
                "begin": "1973",
                "ended": null
            },
            "name": "Queen Pen",
            "score": "62",
            "sort-name": "Pen, Queen",
            "type": "Person"
        },
        {
            "id": "fbd2bc49-d2dd-410d-a870-950e56f02d5b",
            "life-span": {
                "ended": null
            },
            "name": "Filter Queen",
            "score": "62",
            "sort-name": "Filter Queen"
        },
        {
            "id": "26069161-b64d-4021-9c7e-7686dae8ffb4",
            "life-span": {
                "ended": null
            },
            "name": "Pork Queen",
            "score": "62",
            "sort-name": "Pork Queen"
        },
        {
            "id": "8636f35d-0e6c-447e-a77f-718a85124b80",
            "life-span": {
                "ended": null
            },
            "name": "Stampede Queen",
            "score": "62",
            "sort-name": "Stampede Queen",
            "type": "Group"
        },
        {
            "id": "8eb2fc14-e41d-4c02-b3f2-4a4fa3d88664",
            "life-span": {
                "ended": null
            },
            "name": "Witch Queen",
            "score": "62",
            "sort-name": "Witch Queen"
        }
    ],
    "count": 245,
    "created": "2016-05-11T11:07:21.415Z",
    "offset": 0
}

In [78]:
od = query("One Direction")
od['artists'][0]['disambiguation']

requesting http://musicbrainz.org/ws/2/artist/?query=artist%3AOne+Direction&fmt=json

u'English-Irish boy band formed in 2010'

In [82]:
beatles = query("Beatles")

requesting http://musicbrainz.org/ws/2/artist/?query=artist%3ABeatles&fmt=json

In [83]:
pretty_print(beatles)

{
    "artists": [
        {
            "aliases": [
                {
                    "begin-date": null,
                    "end-date": null,
                    "locale": "ko",
                    "name": "\ub354 \ube44\ud2c0\uc988",
                    "primary": true,
                    "sort-name": "\ub354 \ube44\ud2c0\uc988",
                    "type": null
                },
                {
                    "begin-date": null,
                    "end-date": null,
                    "locale": "ja",
                    "name": "\u30b6\u30fb\u30d3\u30fc\u30c8\u30eb\u30ba",
                    "primary": true,
                    "sort-name": "\u30d3\u30fc\u30c8\u30eb\u30ba (\u30b6)",
                    "type": null
                },
                {
                    "begin-date": null,
                    "end-date": null,
                    "locale": "en",
                    "name": "Beatles",
                    "primary": null,
                    "sort-name": "Beatles",
                    "type": "Artist name"
                },
                {
                    "begin-date": null,
                    "end-date": null,
                    "locale": null,
                    "name": "Beetles",
                    "primary": null,
                    "sort-name": "Beetles",
                    "type": "Search hint"
                },
                {
                    "begin-date": null,
                    "end-date": null,
                    "locale": null,
                    "name": "fab four",
                    "primary": null,
                    "sort-name": "fab four",
                    "type": "Search hint"
                },
                {
                    "begin-date": null,
                    "end-date": null,
                    "locale": "es",
                    "name": "Los Beatles",
                    "primary": true,
                    "sort-name": "Los Beatles",
                    "type": null
                },
                {
                    "begin-date": null,
                    "end-date": null,
                    "locale": "en",
                    "name": "The Beatles",
                    "primary": true,
                    "sort-name": "Beatles, The",
                    "type": "Artist name"
                },
                {
                    "begin-date": null,
                    "end-date": null,
                    "locale": "ru",
                    "name": "\u0411\u0438\u0442\u043b\u0437",
                    "primary": true,
                    "sort-name": "\u0411\u0438\u0442\u043b\u0437",
                    "type": null
                },
                {
                    "begin-date": null,
                    "end-date": null,
                    "locale": "zh_Hans",
                    "name": "\u62ab\u5934\u58eb",
                    "primary": true,
                    "sort-name": "\u62ab\u5934\u58eb",
                    "type": null
                },
                {
                    "begin-date": null,
                    "end-date": null,
                    "locale": "zh_Hant",
                    "name": "\u62ab\u982d\u56db",
                    "primary": true,
                    "sort-name": "\u62ab\u982d\u56db",
                    "type": null
                }
            ],
            "area": {
                "id": "8a754a16-0027-3a29-b6d7-2b40ea0481ed",
                "name": "United Kingdom",
                "sort-name": "United Kingdom"
            },
            "begin-area": {
                "id": "c249c30e-88ab-4b2f-a745-96a25bd7afee",
                "name": "Liverpool",
                "sort-name": "Liverpool"
            },
            "country": "GB",
            "id": "b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d",
            "life-span": {
                "begin": "1957-03",
                "end": "1970-04-10",
                "ended": true
            },
            "name": "The Beatles",
            "score": "100",
            "sort-name": "Beatles, The",
            "tags": [
                {
                    "count": 1,
                    "name": "uk"
                },
                {
                    "count": 11,
                    "name": "rock"
                },
                {
                    "count": 0,
                    "name": "english"
                },
                {
                    "count": 0,
                    "name": "overrated"
                },
                {
                    "count": 0,
                    "name": "parlophone"
                },
                {
                    "count": 0,
                    "name": "60s"
                },
                {
                    "count": 0,
                    "name": "pop-rock"
                },
                {
                    "count": 0,
                    "name": "pop/rock"
                },
                {
                    "count": 2,
                    "name": "psychedelic pop"
                },
                {
                    "count": 2,
                    "name": "rock & roll"
                },
                {
                    "count": 0,
                    "name": "heavy metal"
                },
                {
                    "count": 1,
                    "name": "classical pop"
                },
                {
                    "count": 0,
                    "name": "instrumental pop"
                },
                {
                    "count": 0,
                    "name": "folk-rock"
                },
                {
                    "count": 0,
                    "name": "orchestral"
                },
                {
                    "count": 0,
                    "name": "psychedelic"
                },
                {
                    "count": 0,
                    "name": "rock roll"
                },
                {
                    "count": 0,
                    "name": "adult alternative pop rock"
                },
                {
                    "count": 0,
                    "name": "tribute albums"
                },
                {
                    "count": 0,
                    "name": "british psychedelia"
                },
                {
                    "count": 0,
                    "name": "orchestral pop"
                },
                {
                    "count": 0,
                    "name": "singer songwriter"
                },
                {
                    "count": 0,
                    "name": "indie rock"
                },
                {
                    "count": 1,
                    "name": "british invasion"
                },
                {
                    "count": 0,
                    "name": "pop-metal"
                },
                {
                    "count": 0,
                    "name": "classic pop and rock"
                },
                {
                    "count": -1,
                    "name": "britpop"
                },
                {
                    "count": 0,
                    "name": "progressive rock"
                },
                {
                    "count": 0,
                    "name": "1"
                },
                {
                    "count": 0,
                    "name": "united kingdom"
                },
                {
                    "count": 0,
                    "name": "male vocalists"
                },
                {
                    "count": 2,
                    "name": "experimental"
                },
                {
                    "count": 0,
                    "name": "rock and roll"
                },
                {
                    "count": 10,
                    "name": "pop"
                },
                {
                    "count": 1,
                    "name": "liverpool"
                },
                {
                    "count": 0,
                    "name": "one beatles"
                },
                {
                    "count": 5,
                    "name": "british"
                },
                {
                    "count": 3,
                    "name": "pop rock"
                },
                {
                    "count": 0,
                    "name": "a filk artist"
                },
                {
                    "count": 0,
                    "name": "hair metal"
                },
                {
                    "count": 2,
                    "name": "psychedelic rock"
                },
                {
                    "count": 0,
                    "name": "80s"
                },
                {
                    "count": 0,
                    "name": "the-beatles"
                },
                {
                    "count": 0,
                    "name": "bbc"
                },
                {
                    "count": 3,
                    "name": "merseybeat"
                },
                {
                    "count": 1,
                    "name": "rhythm & blues"
                },
                {
                    "count": 1,
                    "name": "british rhythm & blues"
                },
                {
                    "count": 1,
                    "name": "folk rock"
                },
                {
                    "count": 1,
                    "name": "folk pop"
                },
                {
                    "count": 1,
                    "name": "art rock"
                },
                {
                    "count": 1,
                    "name": "sunshine pop"
                },
                {
                    "count": 1,
                    "name": "art pop"
                },
                {
                    "count": 1,
                    "name": "blues rock"
                },
                {
                    "count": 2,
                    "name": "hard rock"
                },
                {
                    "count": 1,
                    "name": "beat music"
                },
                {
                    "count": 1,
                    "name": "boys band"
                }
            ],
            "type": "Group"
        },
        {
            "id": "3133aeb8-9982-4e11-a8ff-5477996a80bf",
            "life-span": {
                "ended": null
            },
            "name": "Beatles Chillout",
            "score": "100",
            "sort-name": "Beatles Chillout"
        },
        {
            "area": {
                "id": "2db42837-c832-3c27-b4a3-08198f75693c",
                "name": "Japan",
                "sort-name": "Japan"
            },
            "begin-area": {
                "id": "8dc97297-ac95-4d33-82bc-e07fab26fb5f",
                "name": "Tokyo",
                "sort-name": "Tokyo"
            },
            "country": "JP",
            "disambiguation": "Japanese",
            "id": "bc569a61-dd62-4758-86c6-e99dcb1fdda6",
            "life-span": {
                "ended": null
            },
            "name": "Tokyo Beatles",
            "score": "100",
            "sort-name": "Tokyo Beatles"
        },
        {
            "area": {
                "id": "8a754a16-0027-3a29-b6d7-2b40ea0481ed",
                "name": "United Kingdom",
                "sort-name": "United Kingdom"
            },
            "country": "GB",
            "id": "dc146c82-7709-41ee-8322-0d4c9fea0378",
            "life-span": {
                "ended": null
            },
            "name": "Fab Beatles",
            "score": "100",
            "sort-name": "Fab Beatles",
            "type": "Group"
        },
        {
            "area": {
                "id": "8a754a16-0027-3a29-b6d7-2b40ea0481ed",
                "name": "United Kingdom",
                "sort-name": "United Kingdom"
            },
            "country": "GB",
            "disambiguation": "The Beatles tribute band",
            "id": "ad60d963-44f1-4b41-b785-8284edcaaffe",
            "life-span": {
                "ended": null
            },
            "name": "Counterfeit Beatles",
            "score": "100",
            "sort-name": "Counterfeit Beatles",
            "type": "Group"
        },
        {
            "area": {
                "id": "106e0bec-b638-3b37-b731-f53d507dc00e",
                "name": "Australia",
                "sort-name": "Australia"
            },
            "country": "AU",
            "disambiguation": "The Beatles tribute band",
            "id": "7cac6d47-ef4e-4347-8835-63ed3f2e74a7",
            "life-span": {
                "begin": "2011",
                "ended": null
            },
            "name": "Beatles Back2Back",
            "score": "100",
            "sort-name": "Beatles Back2Back",
            "type": "Group"
        },
        {
            "area": {
                "id": "dbe53871-db21-47ea-a0c3-3ab58317a3ab",
                "name": "Gainesville",
                "sort-name": "Gainesville"
            },
            "begin-area": {
                "id": "dbe53871-db21-47ea-a0c3-3ab58317a3ab",
                "name": "Gainesville",
                "sort-name": "Gainesville"
            },
            "disambiguation": "Beatles Cover Band",
            "end-area": {
                "id": "dbe53871-db21-47ea-a0c3-3ab58317a3ab",
                "name": "Gainesville",
                "sort-name": "Gainesville"
            },
            "id": "de0769fa-7c32-4706-9c8c-03631c90f208",
            "life-span": {
                "begin": "2005",
                "end": "2015-04-19",
                "ended": true
            },
            "name": "Shitty Beatles",
            "score": "100",
            "sort-name": "Shitty Beatles",
            "type": "Group"
        },
        {
            "id": "35574687-3a4d-4b30-a01a-43fea73b3430",
            "life-span": {
                "ended": null
            },
            "name": "Them Beatles",
            "score": "100",
            "sort-name": "Them Beatles",
            "type": "Group"
        },
        {
            "aliases": [
                {
                    "begin-date": null,
                    "end-date": null,
                    "locale": null,
                    "name": "Tape-Beatles",
                    "primary": null,
                    "sort-name": "Tape-Beatles",
                    "type": null
                }
            ],
            "area": {
                "id": "489ce91b-6658-3307-9877-795b68554c98",
                "name": "United States",
                "sort-name": "United States"
            },
            "begin-area": {
                "id": "3fc3b364-665e-4875-a9ff-3699cd716152",
                "name": "Iowa City",
                "sort-name": "Iowa City"
            },
            "country": "US",
            "id": "5e685f9e-83bb-423c-acfa-487e34f15ffd",
            "life-span": {
                "begin": "1986-12",
                "ended": null
            },
            "name": "The Tape-beatles",
            "score": "80",
            "sort-name": "Tape-beatles, The",
            "type": "Group"
        },
        {
            "id": "333b16c0-c1fc-4fa0-ab58-367adf2c8e2e",
            "life-span": {
                "ended": null
            },
            "name": "The Savage Young Beatles",
            "score": "80",
            "sort-name": "Savage Young Beatles, The",
            "type": "Group"
        },
        {
            "aliases": [
                {
                    "begin-date": null,
                    "end-date": null,
                    "locale": null,
                    "name": "Beatles Revival Band",
                    "primary": null,
                    "sort-name": "Beatles Revival Band",
                    "type": null
                }
            ],
            "area": {
                "id": "85752fda-13c4-31a3-bee5-0e5cb1f51dad",
                "name": "Germany",
                "sort-name": "Germany"
            },
            "country": "DE",
            "disambiguation": "german cover band",
            "id": "0f697bc6-6df7-41c9-b550-39981e520d70",
            "life-span": {
                "begin": "1976",
                "ended": null
            },
            "name": "The Beatles Revival Band",
            "score": "80",
            "sort-name": "Beatles Revival Band, The",
            "type": "Group"
        },
        {
            "id": "e67ffb2a-0d5e-472d-9f3b-02d2ed7adc9a",
            "life-span": {
                "ended": null
            },
            "name": "The Moog Beatles",
            "score": "80",
            "sort-name": "Moog Beatles, The",
            "type": "Group"
        },
        {
            "id": "4c3d0136-9235-4c50-b136-be49d17163df",
            "life-span": {
                "ended": null
            },
            "name": "The Black Beatles",
            "score": "80",
            "sort-name": "Black Beatles, The"
        },
        {
            "id": "7383113a-2b44-4fd1-a2b1-277ca68803b7",
            "life-span": {
                "ended": null
            },
            "name": "The Better Beatles",
            "score": "80",
            "sort-name": "Better Beatles, The",
            "type": "Group"
        },
        {
            "area": {
                "id": "51d34c28-61bf-3d21-849f-7492672a9d44",
                "name": "Czech Republic",
                "sort-name": "Czech Republic"
            },
            "country": "CZ",
            "disambiguation": "Czech 'The Beatles' tribute band",
            "id": "5153cd90-37c6-4fa0-8da6-dbf5513b4a44",
            "life-span": {
                "ended": null
            },
            "name": "The Beatles Revival",
            "score": "80",
            "sort-name": "Beatles Revival, The",
            "type": "Group"
        },
        {
            "area": {
                "id": "c249c30e-88ab-4b2f-a745-96a25bd7afee",
                "name": "Liverpool",
                "sort-name": "Liverpool"
            },
            "id": "ec996b5f-89c8-4dd6-8063-1bd8df438a00",
            "life-span": {
                "ended": null
            },
            "name": "The Backbeat Beatles",
            "score": "80",
            "sort-name": "Backbeat Beatles, The",
            "type": "Group"
        },
        {
            "area": {
                "id": "c249c30e-88ab-4b2f-a745-96a25bd7afee",
                "name": "Liverpool",
                "sort-name": "Liverpool"
            },
            "begin-area": {
                "id": "c249c30e-88ab-4b2f-a745-96a25bd7afee",
                "name": "Liverpool",
                "sort-name": "Liverpool"
            },
            "disambiguation": "Beatles Cover Band",
            "id": "31f6812d-12ab-406f-a13d-ad54976e49c6",
            "life-span": {
                "begin": "1989",
                "ended": null
            },
            "name": "The Cavern Beatles",
            "score": "80",
            "sort-name": "Beatles Cover Band",
            "type": "Group"
        },
        {
            "id": "75a2dff3-b370-4caa-9447-d9756d28243b",
            "life-span": {
                "ended": null
            },
            "name": "Suck My Beatles",
            "score": "80",
            "sort-name": "Suck My Beatles"
        },
        {
            "id": "f540dcbe-4ae8-45c7-817b-372241202276",
            "life-span": {
                "begin": "1998",
                "ended": null
            },
            "name": "Not The Beatles",
            "score": "80",
            "sort-name": "Not The Beatles",
            "type": "Group"
        },
        {
            "area": {
                "id": "8a754a16-0027-3a29-b6d7-2b40ea0481ed",
                "name": "United Kingdom",
                "sort-name": "United Kingdom"
            },
            "begin-area": {

In [ ]:
"""
Your task is to process the supplied file and use the csv module to extract data from it.
The data comes from NREL (National Renewable Energy Laboratory) website. Each file
contains information from one meteorological station, in particular - about amount of
solar and wind energy for each hour of day.

Note that the first line of the datafile is neither data entry, nor header. It is a line
describing the data source. You should extract the name of the station from it.

The data should be returned as a list of lists (not dictionaries).
You can use the csv modules "reader" method to get data in such format.
Another useful method is next() - to get the next line from the iterator.
You should only change the parse_file function.
"""

In [91]:
def parse_nrel(datafile):
    data = []
    name = ""
    with open(datafile, 'rb') as f:
        r = csv.reader(f)
        for line in r:
            if r.line_num == 1:
                name = line[1]
            elif r.line_num > 2:
                data.append(line)
    return (name, data)

In [92]:
station, data = parse_nrel('745090.csv')

In [95]:
print station
print data[0][1]
print data[2][0] 
print data[2][5]

MOUNTAIN VIEW MOFFETT FLD NAS
01:00
01/01/2005
2

In [ ]:
# Find the time and value of max load for each of the regions
# COAST, EAST, FAR_WEST, NORTH, NORTH_C, SOUTHERN, SOUTH_C, WEST
# and write the result out in a csv file, using pipe character | as the delimiter.
# An example output can be seen in the "example.csv" file.

In [120]:
def parse_file(datafile):
    workbook = xlrd.open_workbook(datafile)
    sheet = workbook.sheet_by_index(0)
    regions = ['COAST', 'EAST', 'FAR_WEST', 'NORTH', 'NORTH_C', 'SOUTHERN', 'SOUTH_C', 'WEST']
    data = {}
    # Remember that you can use xlrd.xldate_as_tuple(sometime, 0) to convert
    # Excel date to Python tuple of (year, month, day, hour, minute, second)
    for i, region in enumerate(regions):
        rdict = {}
        rdata = [float(sheet.cell_value(r, i+1)) for r in range(1, sheet.nrows)] #data for region
        max_load = max(rdata)
        max_row = rdata.index(max_load) +1
        maxday = xlrd.xldate_as_tuple(sheet.cell_value(max_row, 0), 0) #convert excel date to Python tuple
        rdict = {'Max Load': max_load,
                       'Year': maxday[0],
                        'Month': maxday[1],
                        'Day': maxday[2],
                        'Hour': maxday[3]}
        data[region] = rdict
    return data

In [122]:
maxregion = parse_file('2013_ERCOT_Hourly_Load_Data.xls')
maxregion['FAR_WEST']

{'Day': 26,
 'Hour': 17,
 'Max Load': 2281.2722140000024,
 'Month': 6,
 'Year': 2013}

In [123]:
def save_file(data, filename):
    with open(filename, 'wb') as csvfile:
        fieldnames = ['Station', 'Year', 'Month', 'Day', 'Hour', 'Max Load']
        writer = csv.DictWriter(csvfile, delimiter='|', fieldnames=fieldnames)
        writer.writeheader()
        for s in data.keys():
            year, month, day, hour, maxload = data[s]['Year'], data[s]['Month'], data[s]['Day'], data[s]['Hour'], data[s]['Max Load']
            writer.writerow({'Station':s, 'Year': year, 'Month': month, 'Day': day, 'Hour': hour, 'Max Load': maxload})

In [124]:
save_file(maxregion, 'maxload.csv')

In [125]:
import codecs

In [127]:
def get_from_file(filename):
    with open(filename, "r") as f:
        return json.loads(f.read())

In [146]:
def article_overview(filename):
    data = get_from_file(filename)
    titles = []
    urls =[]
    for article in data:
        titles.append({article['section']: article['title']}) 
        pics = article['media'] #list of all media in a particular article
        for p in pics:
            metadata = p['media-metadata']
            for m in metadata:
                if m['format'] == 'Standard Thumbnail':
                    urls.append(m['url'])
    return (titles, urls)

In [129]:
nyt = get_from_file('nytimes.txt')

In [132]:
print 'Number of articles in file:', len(nyt)

Number of articles in file: 20

In [136]:
nyt[0]

{u'abstract': u'Couples can be happier now than ever before. But it\u2019s rare.',
 u'adx_keywords': u'Marriages;Divorce, Separations and Annulments;Social Conditions and Trends;Sociology',
 u'asset_id': 100000002711650.0,
 u'byline': u'By ELI J. FINKEL',
 u'column': u'Opinion',
 u'des_facet': [u'MARRIAGES',
  u'DIVORCE, SEPARATIONS AND ANNULMENTS',
  u'SOCIAL CONDITIONS AND TRENDS',
  u'SOCIOLOGY'],
 u'geo_facet': u'',
 u'id': u'100000002711649',
 u'media': [{u'caption': u'',
   u'copyright': u'Pieter Van Eenoge',
   u'media-metadata': [{u'format': u'Standard Thumbnail',
     u'height': 75,
     u'url': u'http://graphics8.nytimes.com/images/2014/02/16/sunday-review/16COVER/16COVER-thumbStandard.jpg',
     u'width': 75},
    {u'format': u'superJumbo',
     u'height': 1552,
     u'url': u'http://graphics8.nytimes.com/images/2014/02/16/sunday-review/16COVER/16COVER-superJumbo.jpg',
     u'width': 2048},
    {u'format': u'Large',
     u'height': 263,
     u'url': u'http://graphics8.nytimes.com/images/2014/02/16/sunday-review/16COVER/16COVER-sfSpan.jpg',
     u'width': 395},
    {u'format': u'thumbLarge',
     u'height': 150,
     u'url': u'http://graphics8.nytimes.com/images/2014/02/16/sunday-review/16COVER/16COVER-thumbLarge.jpg',
     u'width': 150},
    {u'format': u'Normal',
     u'height': 144,
     u'url': u'http://graphics8.nytimes.com/images/2014/02/16/sunday-review/16COVER/16COVER-articleInline.jpg',
     u'width': 190},
    {u'format': u'square640',
     u'height': 640,
     u'url': u'http://graphics8.nytimes.com/images/2014/02/16/sunday-review/16COVER/16COVER-square640.jpg',
     u'width': 640},
    {u'format': u'square320',
     u'height': 320,
     u'url': u'http://graphics8.nytimes.com/images/2014/02/16/sunday-review/16COVER/16COVER-square320.jpg',
     u'width': 320},
    {u'format': u'mediumThreeByTwo210',
     u'height': 140,
     u'url': u'http://graphics8.nytimes.com/images/2014/02/16/sunday-review/16COVER/16COVER-mediumThreeByTwo210.jpg',
     u'width': 210}],
   u'subtype': u'photo',
   u'type': u'image'},
  {u'caption': u'',
   u'copyright': u'Pieter Van Eenoge',
   u'media-metadata': [{u'format': u'Standard Thumbnail',
     u'height': 75,
     u'url': u'http://graphics8.nytimes.com/images/2014/02/16/sunday-review/16MARRIAGEJP/16MARRIAGEJP-thumbStandard.jpg',
     u'width': 75},
    {u'format': u'superJumbo',
     u'height': 1815,
     u'url': u'http://graphics8.nytimes.com/images/2014/02/16/sunday-review/16MARRIAGEJP/16MARRIAGEJP-superJumbo.jpg',
     u'width': 2048},
    {u'format': u'Large',
     u'height': 263,
     u'url': u'http://graphics8.nytimes.com/images/2014/02/16/sunday-review/16MARRIAGEJP/16MARRIAGEJP-sfSpan.jpg',
     u'width': 395},
    {u'format': u'thumbLarge',
     u'height': 150,
     u'url': u'http://graphics8.nytimes.com/images/2014/02/16/sunday-review/16MARRIAGEJP/16MARRIAGEJP-thumbLarge.jpg',
     u'width': 150},
    {u'format': u'Normal',
     u'height': 168,
     u'url': u'http://graphics8.nytimes.com/images/2014/02/16/sunday-review/16MARRIAGEJP/16MARRIAGEJP-articleInline.jpg',
     u'width': 190},
    {u'format': u'square640',
     u'height': 640,
     u'url': u'http://graphics8.nytimes.com/images/2014/02/16/sunday-review/16MARRIAGEJP/16MARRIAGEJP-square640.jpg',
     u'width': 640},
    {u'format': u'square320',
     u'height': 320,
     u'url': u'http://graphics8.nytimes.com/images/2014/02/16/sunday-review/16MARRIAGEJP/16MARRIAGEJP-square320.jpg',
     u'width': 320},
    {u'format': u'mediumThreeByTwo210',
     u'height': 140,
     u'url': u'http://graphics8.nytimes.com/images/2014/02/16/sunday-review/16MARRIAGEJP/16MARRIAGEJP-mediumThreeByTwo210.jpg',
     u'width': 210}],
   u'subtype': u'photo',
   u'type': u'image'}],
 u'org_facet': u'',
 u'per_facet': u'',
 u'published_date': u'2014-02-16',
 u'section': u'Opinion',
 u'source': u'The New York Times',
 u'title': u'The All-or-Nothing Marriage',
 u'type': u'Article',
 u'url': u'http://www.nytimes.com/2014/02/15/opinion/sunday/the-all-or-nothing-marriage.html',
 u'views': 1}

In [147]:
titles, urls = article_overview('nytimes.txt')

In [148]:
titles

[{u'Opinion': u'The All-or-Nothing Marriage'},
 {u'Opinion': u'Marry First, Then Cheat'},
 {u'Opinion': u'Professors, We Need You!'},
 {u'N.Y. / Region': u'Common Core Curriculum Now Has Critics on the Left'},
 {u'Fashion & Style': u'For Interns, All Work and No Payoff'},
 {u'Sports': u'NBC Pushes Too Far in Bringing Bode Miller to Tears'},
 {u'Opinion': u'Barons of Broadband'},
 {u'Sports': u'A Mad Dash for Salt Rescues Olympic Slopes'},
 {u'U.S.': u'Spying by N.S.A. Ally Entangled U.S. Law Firm'},
 {u'N.Y. / Region': u'Addicted on Staten Island'},
 {u'Business Day': u'Saving an Endangered British Species: The Pub'},
 {u'Sports': u'Behind Meryl Davis and Charlie White, U.S. Is Close to Its First Ice Dance Gold'},
 {u'Technology': u'Intel\u2019s Sharp-Eyed Social Scientist'},
 {u'Sports': u'Hanyu Falls Twice, but Still Wins Gold'},
 {u'Opinion': u'Is the Universe a Simulation?'},
 {u'Opinion': u'Parental Pity Party'},
 {u'Opinion': u'Behind Bars'},
 {u'Opinion': u'A Watchful Eye in Hospitals'},
 {u'Movies': u'The Greatest Film Role Ever Cast'},
 {u'Business Day': u'Comcast vs. the Cord Cutters'}]

In [149]:
urls

[u'http://graphics8.nytimes.com/images/2014/02/16/sunday-review/16COVER/16COVER-thumbStandard.jpg',
 u'http://graphics8.nytimes.com/images/2014/02/16/sunday-review/16MARRIAGEJP/16MARRIAGEJP-thumbStandard.jpg',
 u'http://graphics8.nytimes.com/images/2014/02/16/sunday-review/16DOWD/16DOWD-thumbStandard.jpg',
 u'http://graphics8.nytimes.com/images/2010/09/16/opinion/Dowd_New/Dowd_New-thumbStandard.jpg',
 u'http://graphics8.nytimes.com/images/2010/09/16/opinion/Kristof_New/Kristof_New-thumbStandard-v4.jpg',
 u'http://graphics8.nytimes.com/images/2014/02/17/nyregion/commoncore/commoncore-thumbStandard-v2.jpg',
 u'http://graphics8.nytimes.com/images/2014/02/17/nyregion/JP-COMMONCORE1/JP-COMMONCORE1-thumbStandard.jpg',
 u'http://graphics8.nytimes.com/images/2014/02/17/nyregion/JP-COMMONCORE2/JP-COMMONCORE2-thumbStandard.jpg',
 u'http://graphics8.nytimes.com/images/2014/02/16/fashion/16INTERNS_SPAN/16INTERNS_SPAN-thumbStandard.jpg',
 u'http://graphics8.nytimes.com/images/2014/02/16/fashion/16JPINTERNS1/16jpinterns1-thumbStandard.jpg',
 u'http://graphics8.nytimes.com/images/2014/02/16/fashion/16JPINTERNS2/16JPINTERNS2-thumbStandard-v2.jpg',
 u'http://graphics8.nytimes.com/images/2014/02/16/fashion/16JPINTERNS3/16JPINTERNS3-thumbStandard.jpg',
 u'http://graphics8.nytimes.com/images/2010/09/16/opinion/Krugman_New/Krugman_New-thumbStandard-v2.jpg',
 u'http://graphics8.nytimes.com/images/2014/02/17/sports/17salt1/17salt1-thumbStandard.jpg',
 u'http://graphics8.nytimes.com/images/2014/02/17/sports/17salt-2/17salt-2-thumbStandard.jpg',
 u'http://graphics8.nytimes.com/images/2014/02/17/sports/17salt-1/17salt-1-thumbStandard.jpg',
 u'http://graphics8.nytimes.com/images/2014/02/16/us/jpNSA1/jpNSA1-thumbStandard-v3.jpg',
 u'http://graphics8.nytimes.com/images/2014/02/16/us/jpNSA2/jpNSA2-thumbStandard-v2.jpg',
 u'http://graphics8.nytimes.com/images/2014/02/16/nyregion/16BIGCITY_SPAN/16BIGCITY_SPAN-thumbStandard-v2.jpg',
 u'http://graphics8.nytimes.com/images/2014/02/17/business/pubs/pubs-thumbStandard.jpg',
 u'http://graphics8.nytimes.com/images/2014/02/17/sports/ICEDANCE/ICEDANCE-thumbStandard.jpg',
 u'http://graphics8.nytimes.com/images/2014/02/16/technology/16bell-personal-billboard/16bell-personal-billboard-thumbStandard.jpg',
 u'http://graphics8.nytimes.com/images/2014/02/14/sports/olympics/mens-figure-skating-1392420419784/mens-figure-skating-1392420419784-thumbStandard.jpg',
 u'http://graphics8.nytimes.com/images/2014/02/16/sunday-review/16GRAY/16GRAY-thumbStandard.jpg',
 u'http://graphics8.nytimes.com/images/2010/09/16/opinion/Douthat_New/Douthat_New-thumbStandard.jpg',
 u'http://graphics8.nytimes.com/images/2014/02/16/opinion/sunday/20140216_SCHOTTBARWORDS-1392239127937/20140216_SCHOTTBARWORDS-1392239127937-thumbStandard.jpg',
 u'http://graphics8.nytimes.com/images/2014/02/17/opinion/0217OPEDwebb/0217OPEDwebb-thumbStandard.jpg',
 u'http://graphics8.nytimes.com/images/2014/02/16/arts/16MOVIEJESUS2/16MOVIEJESUS2-thumbStandard-v2.jpg',
 u'http://graphics8.nytimes.com/images/2014/02/16/arts/16MOVIEJESUS1COMBO_SPAN/16MOVIEJESUS1-thumbStandard.jpg',
 u'http://graphics8.nytimes.com/images/2014/02/16/business/16-CONSUMER/16-CONSUMER-thumbStandard-v2.jpg']